<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Authentication</title>
</head>

<body>
    <h2>Instagram Authentication</h2>
    <form action="/enter_post_id" method="GET">
        <label for="username">Instagram Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Instagram Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Authenticate">
    </form>
</body>

</html>